<!--<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;Mass Appeal 2022</span>
    </div>
</footer>-->

 <!-- FOOTER -->
 <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Mass Appeal Ent. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

