<%- include('./layout/boilerplate')%>


<h1>CERTIFIED TO ATTRACT</h1>

<div class="container">

    <ul class="list-group">
        <li class="list-group-item"><ion-icon name="logo-instagram"></ion-icon> Instagram<a href="https://instagram.com/massappealng?igshid=YmMyMTA2M2Y=">  @massappealng</a></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"><ion-icon name="logo-twitter"></ion-icon> Twitter<a href="https://twitter.com/massappealng?t=eKsOGdWikszBLPxmBlXYHA&s=09">  @massappealng</a></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"><ion-icon name="logo-facebook"></ion-icon> Facebook<a href="https://www.facebook.com/Enthype/">  @Enthype</a></li>
    </ul>
    
       

</div>
<h1>CERTIFIED TO ATTRACT</h1>
<div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/t2teD6IV8js"
     title="YouTube video player" frameborder="0" 
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe>

</div>










<%- include('./partials/footer')  %> 