<%- include('./layout/boilerplate')%>
  
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height=""/></svg>
        <img src="images/image5.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>MASS APPEAL ENTERTAINMENT</h1>
            <p>Outdoor tiketed event support and management.</p>
            <p><a class="btn btn-lg btn-primary" href="/register">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="images/image4.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption">
            <h1>THERE'S MORE.</h1>
            <p>GENERAL ADVERTS AND PROMOTIONS, NIGERIA/AFRICA. 
                UP-COMERS MUSIC, ARTS, ENTERTAINMENT 
                .</p>
            <p><a class="btn btn-lg btn-primary" href="/contact">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="images/image7.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>AND MORE....</h1>
            <p>Social Media Promotions.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel 
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <img src="images/image2.jpg" class="d-block w-100" alt="...">
        <h2>Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div> /.col-lg-4 
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>/.col-lg-4 
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <img src="images/image1.jpg" class="d-block w-100" alt="...">
        <h2>Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div> /.col-lg-4
    </div>/.row -->-->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">SOCIAL MEDIA. <span class="fw-bold fs-1"> Why advertise on social media?
            </span></h2>
        <p class="lead" id="para">Social media entices many small business owners with the dream of the next big viral campaign. The reality is organic traffic on social media is tricky to earn, and going viral is next to impossible to predict.
        
Advertising on social media offers several major benefits. It boosts brand awareness, increases traffic, and offers insight into your current and potential customers.


        </p>
      </div>
      <div class="col-md-5">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
        <img src="images/image9.jpg" class="d-block w-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">ADVERTISING <span class="text-muted">Is it really necessary?.</span></h2>
        <p class="lead">Advertising is a marketing tool that lets you communicate with potential customers about your products or services through paid channels. The goal of advertising for a small business may be to build brand awareness, 
            improve your image, boost engagement, generate leads, or convert potential leads into sales.</p>
      </div>
      <div class="col-md-5 order-md-1">
       <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
        <img src="images/image8.jpg" class="d-block w-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">PROMOTE YOUR BUSINESS <span class="text-muted">Why you should</span></h2>
        <p class="lead" id="para">Business are often started as an attempt to do something better than the existing marketplace. The same mentality is true for promotion.

            When it comes to any marketing channel, usually the top marketer or two in that channel will captivate 90% of the competition. Instead of being middle of the road on multiple channels, it’s best to identify a channel where you can “do it the best” and pursue that channel.
            
            For instance, an online academic book and technology business in Port Elizabeth, South Africa, wanted to increase their website visitors. A consultant was brought in who compiled a report showing what the worldwide benchmark company was doing, and these are some of the findings:
            
            The benchmark company had a whopping 7394962 Facebook likes, with a 100% response rate, while the other company had a mere 5839 Facebook likes, and a 0% response rate. In addition, the benchmark company had tons of content and their product descriptions were customized.</p>
      </div>
      <div class="col-md-5">
     <!--   <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
        <img src="images/image6.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>

  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Mass Appeal Entertainment ltd Africa. </h5>
      <p class="para">Owned by Jide Shadipe and Azu Okafor.</p>
      
    </div>
  </div>

  <%- include('./partials/footer')  %> 
 